.wrapper{
   transform: scale(0.9);
   transition: all 0.3s ease-in;
   &:hover{
   transform: scale(1);
   }
}
ul{
text-align: left;
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding:0.2rem;
li{
   font-weight: 800;
}

// margin-left: 1rem;

   }
   